<%= stylesheet_link_tag "skeleton.css", "normalize.css" %>
<%= favicon_link_tag 'favicon.png' %>

<div style="margin-left:10px;">
<h1>Overview of stats</h1>
<h3>Champs</h3>
<div style="width:100%;height:0.2px;background-color:#F79C80;">
</div>
<script>
function run() {
    document.getElementById("champ_id").value = document.getElementById("champions").value;
}

function up() {

    //if (document.getElementById("champ_id").value != "") {
        var dop = document.getElementById("champ_id").value;
    //}
    pop(dop);

}

function pop(val) {
    alert(val);
}
</script>

<%= select_tag(:champions, options_for_select(@hash.collect { |p| [ p[1]['name'], p[1]['id'], p[1]['stats']['armor'], ] }), {:onchange => "run();" }) %>


<table class="u-full-width">
  <thead>
  <tr>
    <th>Champion</th>
    <th>armor</th>
    <th>armorperlevel</th>
    <th>attackdamage</th>
    <th>attackdamageperlevel</th>
    <th>attackrange</th>
    <th>attackspeedoffset</th>
    <th>attackspeedperlevel</th>
    <th>crit</th>
    <th>critperlevel</th>
    <th>hp</th>
    <th>hpperlevel</th>
    <th>hpregen</th>
    <th>hpregenperlevel</th>
    <th>movespeed</th>
    <th>mp</th>
    <th>mpperlevel</th>
    <th>mpregen</th>
    <th>mpregenperlevel</th>
    <th>spellblock</th>
    <th>spellblockperlevel</th>
  </tr>
  </thead>
  <% @hash.each do |champ| %>
  <tbody>
  <tr>
    <td style="background-color:#F79F81;"> <%= image_tag("http://ddragon.leagueoflegends.com/cdn/8.12.1/img/champion/#{ champ[1]['key'] }.png", size: "30x30") %> <%= champ[1]['name'] %> </td>
    <td class="tda"> <input type="text" id="champ_id" placeholder="get value on option select"> </td>
    <td class="tda"> <%= champ[1]['stats']['armor'] %></td>
    <td class="tdb"> <%= champ[1]['stats']['armorperlevel'] %></td>
    <td class="tda"> <%= champ[1]['stats']['attackdamage'] %></td>
    <td class="tdb"> <%= champ[1]['stats']['attackdamageperlevel'] %></td>
    <td class="tda"> <%= champ[1]['stats']['attackrange'] %></td>
    <td class="tdb"> <%= champ[1]['stats']['attackspeedoffset'] %></td>
    <td class="tda"> <%= champ[1]['stats']['attackspeedperlevel'] %></td>
    <td class="tdb"> <%= champ[1]['stats']['crit'] %></td>
    <td class="tda"> <%= champ[1]['stats']['critperlevel'] %></td>
    <td class="tdb"> <%= champ[1]['stats']['hp'] %></td>
    <td class="tda"> <%= champ[1]['stats']['hpperlevel'] %></td>
    <td class="tdb"> <%= champ[1]['stats']['hpregen'] %></td>
    <td class="tda"> <%= champ[1]['stats']['hpregenperlevel'] %></td>
    <td class="tdb"> <%= champ[1]['stats']['movespeed'] %></td>
    <td class="tda"> <%= champ[1]['stats']['mp'] %></td>
    <td class="tdb"> <%= champ[1]['stats']['mpperlevel'] %></td>
    <td class="tda"> <%= champ[1]['stats']['mpregen'] %></td>
    <td class="tdb"> <%= champ[1]['stats']['mpregenperlevel'] %></td>
    <td class="tda"> <%= champ[1]['stats']['spellblock'] %></td> 
    <td class="tdb"> <%= champ[1]['stats']['spellblockperlevel'] %></td>
  </tr>
  <tbody>
<% end %>

</table>

</div>
